<app-header titulo='Sobre Nosotros'></app-header>

<ion-content>

  <ion-card>
	<img src="/assets/agronet.png">
  <ion-card-header>
   <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <ion-card-title>Sobre Nosotros</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    AgroNet es una empresa creada por estudiantes, los cuales buscamos aplicar nuestros conocimientos de tal forma que puedan a aportar al desarrollo de alternativas innovadoras y sostenibles en la industria de la agricultura. Tratamos de encontrar soluciones basadas en las tecnologías 'estado del arte' (IoT, sistemas embebidos, etc), de tal forma que podamos generar la máxima rentabilidad en los proyectos de nuestros clientes. 
  </ion-card-content>
</ion-card>

</ion-content>
