<app-header titulo='Recomendaciones'></app-header>

<!--
<ion-header>
  <ion-toolbar>
    <ion-title>recomendations</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>

  <ion-card>
   <!-- <img src="/assets/agronet.png"> -->
    <ion-card-header>
     <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>Ubicación del dispositvo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      El dispositivo debe colocarse en un lugar donde tenga acceso a la tierra, de tal forma que se asegure el contacto del sensor de humedad con el suelo del cultivo. También se debe asegurar que esté ubicado en un lugar donde llegue plena luz, y de esta forma evitar la generación de medidas erroneas.
    </ion-card-content>
  </ion-card>

  <ion-card>
   <!-- <img src="/assets/agronet.png"> -->
    <ion-card-header>
     <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>Ensayo del dispositivo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      El dispositivo debe ser probado y calibrado, con valores conocidos de cada uno de los parámetros que este puede medir, esto se debe hacer para evitar la generación de datos inválidos.
    </ion-card-content>
  </ion-card>
<!--
<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>ion-item in a card, icon left, button right</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  <ion-card-content>
    This is content, without any paragraph or header tags,
    within an ion-card-content element.
  </ion-card-content>
</ion-card>
-->
</ion-content>
