<app-header titulo='Compartir'></app-header>

<ion-content>

<ion-card>
  <ion-item href="#" class="ion-activated">
    <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
    <ion-label>+57 3212666241</ion-label>
  </ion-item>

  <ion-item href="#">
    <ion-icon name="cloud-outline" slot="start"></ion-icon>
    <ion-label>agronet.ddns.net</ion-label>
  </ion-item>

  <ion-item class="ion-activated">
    <ion-icon name="logo-facebook" slot="start"></ion-icon>
    <ion-label>Agronet</ion-label>
  </ion-item>

<!--
  <ion-item>
    <ion-icon name="walk" slot="start"></ion-icon>
    <ion-label>Card Button Item 2</ion-label>
  </ion-item>
-->
</ion-card>

</ion-content>
